.carousel {
  max-height: 100vh;
  .arrow_left {
    position: absolute;
    left: 80px;
    top: 48%;
    font-size: 30px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    opacity: 0.1;
    z-index: 1;
    cursor: pointer;
  }
  .arrow_right {
    position: absolute;
    right: 80px;
    top: 48%;
    font-size: 30px;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    opacity: 0.1;
    z-index: 1;
  }
  .fa-chevron-right:hover {
    background-color: #ffffffbd;
    color: #63636396;
    transition: 0.6s;
    opacity: 1;
    cursor: pointer;
  }

  .fa-chevron-left:hover {
    background-color: #ffffffbd;
    color: #63636396;
    transition: 0.6s;
    opacity: 1;
  }
  .img-carousel {
    animation: zoom 5s linear infinite;
    @keyframes zoom {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
